body{
  background-color: #f9f8f8;
}
a{
  &.alert-link{
    color: #000000;
    &:hover{
      color: #000000;
    }
  }
}
.Alert{
  background-color: #FFF;
  padding: 0.8rem;
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(155, 155, 155);
  &.normal{
    border-top: 0.3rem solid  #039be5;
  }
  &.medium{
    border-top: 0.3rem solid  #FFA837;
  }
  &.high{
    border-top: 0.3rem solid  #ff5252;
  }
  
  .media-object-section {
    .label{
      background-color: #616161;
    }
    .thumbnail{
      &.normal{
        color: #039be5;
      }
      &.medium{
        color: #FFA837;
      }
      &.high{
        color: #ff5252;
      }
    }
    
    .thumbnail{
      border: none;
      font-size: 2rem;
      box-shadow: none;
      height: 100%;
      vertical-align: middle;
      color: #dc7979;
    }
    
    h2{
      color: #3f3e44;
      font-weight: bold;
      font-size: 1.2rem;
    }
    .date{
      color: #000;
      font-style: italic;
      font-weight: normal;
      font-size: .8rem;
      float: right;
    }
  }
  .Update {
    border-top: 1px solid #999;
    font-size: .9rem;
    padding: 10px;
    background-color: #f1f1f1; 
  }
}
