.Alert{
  .date{
    font-size: 0.6rem;
    display: block;
  }
  .card-divider {
    background-color: #FFF;
    &.normal{
      border-top: 1rem solid  #22bb5b;
    }
    &.medium{
      border-top: 1rem solid  #FFA837;
    }
    &.high{
      border-top: 1rem solid  #FF3737;
    }
    h2{
      color: #999;
      font-weight: bold;
      font-size: 1.3rem;
      .date{
        color: #000;
        font-weight: normal;
        padding-top: .6rem;
        font-size: .7rem;
      }
    }
  }
  .Update {
    border-top: 1px solid #999;
    font-size: .9rem;
    padding: 10px;
    background-color: #f1f1f1; 
  }
}
